@model IEnumerable<Day4Assignment.Models.Account>

@{
    ViewData["Title"] = "Home Page";
}

<h2>

    Viewing all accounts...

</h2>
@Html.ActionLink("Create new account", "Create")

@foreach (var a in Model)

{

    <p>

        Account Number: @a.AccountNumber

    </p>

    <p>

        Account Holder's Name: @a.Name

    </p>

    <p>

        Current Balance: @a.CurrentBalance.ToString("C")

    </p>

    @Html.ActionLink("Edit", "Edit", new { accno = @a.AccountNumber }) <span>&nbsp;</span>

    @Html.ActionLink("Delete", "Delete", new
    {
        accno =

  @a.AccountNumber
    })

    <hr />

}
